
body{
      margin-left:0.5%;
      margin-right:0.5%;
}
#logo{display:flex;flex-wrap: wrap;padding-bottom:2% }
/*导航栏上部*/
#top,#top1,#top2,#top3,#dhl,#gdtt,.mkk,.mkk4{
      display: flex;
      flex-wrap: wrap;
}
#top{
      justify-content:flex-end;
      margin-left:2%;
}
#top1{
      flex: 2;
      margin: auto;
}
#top2{
      flex: 3;
      margin: auto;
}
#top3{
      flex: 4;
      justify-content: flex-end;
}
.top3x {
      margin: 1%;
}
#dhl{
      background-color: #0051BA;
      color:white;
      margin-left: 2%;
      margin-right: 2%;
}
#dhl a{
      color: white;
}
#dh2{
      margin-left: auto;
}
#gdtt{
      justify-content:space-around;
      margin-top: 5px;
}
#gdtt button{
      align-self:center;
}

#all{
      margin-left: 10%;
      margin-right: 10%;
}
.mkb{
      width: 100%;
}
.mkk{
      justify-content: space-between;
      width: 100%;
}

.mkk4{
      width: 100%;padding-top: 20px;justify-content: space-between;
}
.p4{
      width:250px
}
.anl{
      margin-right: -50px;align-self: center;
}
.anr{
      margin-left: -50px;align-self: center;
}
#mkk-end{
      display: flex;justify-content: space-between;
      width: 100%;margin-top: 2%;margin-bottom: 10%;
}
#fjlj{
      display: flex;justify-content: space-between; flex-wrap: wrap;
      width: 100%;border-bottom:darkgray solid 1px;padding-bottom: 3%;
}

#mkk-gray{
      display: flex;justify-content: space-between; flex-wrap: wrap;
      width: 100%;background-color: #D3D3D3;margin-top: 1%;
}

#mkk-darkgray{
      display: flex;width:100%;justify-content: center;background-color:#666666;
}
/*个人账户页面*/
#account{
      margin-left:18%;margin-right: 18%;margin-top:2%;
}
#account1{
      border-bottom:1px #DDDDDD solid;padding-bottom: 1%;margin-bottom: 1%;padding-left:0.5%;
}
#account2-1{
      background-color: #F6F6F6;padding-top: 1%;padding-bottom: 1%;padding-left:1%;border:1px #DDDDDD solid;
}
#account2-2{
      border:1px #DDDDDD solid; border-top:0; padding:4%
}
#account2-2-1{
      border-bottom:3px #DDDDDD solid;
}
#account2-2-2{
      display:flex;margin-bottom: 8%;
}
#account2-2-2left,#account2-2-2center,#account2-2-2right{
      flex: 1;
}
#account2-2-3{
      border-bottom:3px #DDDDDD solid;
}